
.personcont{
	width:650px;
	margin:auto;
}
.personcont .head{
	height:29px;
	overflow:hidden;
	line-height:32px;
	background:url(head9.gif) right top no-repeat;
}
.personcont .head .tag{
	float:left;
	width:110px;
	padding-right:50px;
	text-align:center;
	font-size:14px;
	font-weight:bold;
	color:#FFF;
	background:url(head9.gif) left top no-repeat;
}
.personcont .head .more{
	float:right;
	padding-right:10px;
	height:29px;
}
.personcont .head .more a{
	display:block;
	float:left;
	padding:0 15px 0 20px;
}
.personcont .head .more .print{
	background:url(print.gif) left 8px no-repeat;
}
.personcont .head .more .fav{
	background:url(fav.gif) 2px 8px no-repeat;
}
.personcont .cont{
	border:#C1E2F4 solid 1px;
	border-top:0;
	padding:5px 10px 10px 10px;
}
.personcont .cont .h{
	height:16px;
	overflow:hidden;
	line-height:20px;
	padding-top:9px;
	background:url(head10.gif) left 9px repeat-x;
}
.personcont .cont .h .tg{
	width:120px;
	text-align:center;
	background:url(tag4.gif) center top no-repeat;
	font-weight:bold;
	color:#103E57;
}
.personcont .cont .c{
	border:#3FA5DD solid 1px;
	border-top:0;
}
.baseinfo .img{
	width:120px;
	padding:15px 30px 10px 30px;
}
.baseinfo .img div{
	border:#DDD solid 1px;
	padding:2px;
}
.baseinfo .info{
	padding-top:10px;
}
.baseinfo .info div{
	height:25px;
	width:45%;
	line-height:25px;
	float:left;
	color:#103E57;
}
.baseinfo .info div span{
	font-weight:bold;
}
.baseinfo .info div.lin{
	width:98%;
	height:auto;
	padding-top:5px;
	line-height:20px;
}
.personcont .cont .c .mc{
	padding:10px 10px 10px 15px;
	line-height:20px;
}
.personcont .cont .c .mc div span{
	font-weight:bold;
}