<!--
<?php
print <<<EOT
-->
<!--
EOT;
if($listdb){
foreach($listdb AS $key=>$rs){
print <<<EOT
-->
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="listcomment">
  <tr>
    <td class="img"><A HREF="$webdb[www_url]/member/userinfo.php?uid=$rs[uid]" target="_blank"><img border=0 src='$rs[icon]' onerror="this.src='$webdb[www_url]/images/default/nobody.gif'" width="45" height="45"></A></td>
    <td class="c">$rs[content]</td>
  </tr>
  <tr>
    <td colspan="2" class="m">
    	ID:{$rs[cid]} 称呼:{$rs[username]} 日期:{$rs[posttime]} 
        <A HREF="javascript:getcomment('{$Mdomain}/comment_ajax.php?action=vote&id=$id&cid=$rs[cid]&posttype=ajax&job=agree')">支持:<span>{$rs[agree]}</span>票</A> 
      	<A HREF="javascript:getcomment('{$Mdomain}/comment_ajax.php?action=vote&id=$id&cid=$rs[cid]&posttype=ajax&job=disagree')">反对:<em>{$rs[disagree]}</em>票</A> <A HREF="javascript:quotecomment('[quote]引用ID编号为{$rs[cid]},称呼为{$rs[username]}于{$rs[posttime]}发表的  :\\r\\n{$rs[title]}[/quote]\\r\\n')">引用回复</A> 
<!--
EOT;
if($rs[ifadmin]){
print <<<EOT
-->
      <A HREF="javascript:getcomment('{$Mdomain}/comment_ajax.php?action=del&id=$id&cid=$rs[cid]')">删除</A> 
<!--
EOT;
}print <<<EOT
-->
    </td>
  </tr>
</table>
<!--
EOT;
}}else{print <<<EOT
-->
<div class="nocomment">暂时还没有任何评论！</div>
<!--
EOT;
}if($showpage){print <<<EOT
-->
<div class="cpage">$showpage</div>
<!--
EOT;
}
?>
-->